/* Configuración general */
* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, sans-serif;
    margin: 0;
    background-color: #a7b9db;
}


/* Icono de menú ☰ */
.menu-icono {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 32px;
    color: #022875;
    cursor: pointer;
    z-index: 2000;
}

.menu-icono:hover {
    color: #FFD54F;
}


/* Encabezado principal */
.header {
    position: relative;
    background-color: white;
    color: #022875;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Logos */
.logo {
    width: 120px;
    height: auto;
    object-fit: contain;
}


/* Texto central */
.titulo {
    text-align: center;
    flex: 1;
    padding: 0 20px;
}


.header h1 {
    margin: 0;
    font-size: 30px;
}


.header p {
    margin-top: 10px;
    font-size: 17px;
}


/* Menú lateral */
.menu-lateral {
    position: fixed;
    top: 0;
    left: -330px;
    width: 270px;
    height: 100vh;
    background-color: white;
    box-shadow: 5px 0 15px rgba(0,0,0,0.20);
    padding: 80px 25px;
    transition: 0.3s ease;
    z-index: 1500;
}


.menu-lateral.activo {
    left: 0;
}


.menu-lateral h2 {
    color: #022875;
    text-align: center;
}


.menu-lateral a {
    display: block;
    padding: 15px 10px;
    color: #022875;
    text-decoration: none;
    font-weight: bold;
}


.menu-lateral a:hover {
    background-color: #a7b9db;
    border-radius: 8px;
}


/* Contenedor de tarjetas */
.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 45px 20px;
    flex-wrap: wrap;
}


/* Tarjetas principales */
.card {
    background: white;
    width: 220px;
    height: 190px;
    padding: 18px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.18);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}


.card:hover {
    transform: translateY(-8px);
}


.card h2 {
    color: #022875;
    font-size: 20px;
}


.card p {
    flex-grow: 1;
    font-size: 16px;
}


.card a {
    text-decoration: none;
}


/* Botones */
button {
    background-color: #022875;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
}


button:hover {
    background-color: #FFD54F;
    color: black;
}


/* Ajuste para celular */
@media(max-width:768px){

    .header {
        padding: 25px 20px;
    }


    .logo {
        width: 80px;
    }


    .header h1 {
        font-size: 21px;
    }


    .header p {
        font-size: 14px;
    }


    .card {
        width: 85%;
    }

}